In [1]:
import os
os.chdir("..")

In [2]:
from lightning_quant.data.dataset import MarketDataset

In [3]:
data = MarketDataset()

In [4]:
data[0]

(tensor([0.9458, 0.1538, 0.1892, 0.1621, 0.5693, 0.0565], dtype=torch.float16),
 tensor(0., dtype=torch.float16))

In [5]:
data.data

,position,SPY_NATR_RANK,SPY_AROON_RANK,SPY_RSI_RANK,SPY_ROC_RANK,SPY_RTNS_RANK,SPY_VWAP_RANK
index,,,,,,,
2019-01-02,False,0.945946,0.153846,0.189189,0.162162,0.569106,0.056452
2019-01-03,False,1.000000,0.157143,0.080000,0.093333,0.048387,0.040000
2019-01-04,False,0.986842,0.254717,0.250000,0.289474,0.992000,0.079365
2019-01-07,False,0.935065,0.322430,0.324675,0.363636,0.833333,0.094488
2019-01-08,False,0.884615,0.324074,0.397436,0.641026,0.866142,0.101562
...,...,...,...,...,...,...,...
2023-06-27,True,0.322795,0.617289,0.732945,0.689684,0.852118,0.861022
2023-06-28,True,0.313383,0.547851,0.737323,0.662510,0.489617,0.867518
2023-06-29,True,0.297342,0.547812,0.779900,0.691860,0.650439,0.875598
2023-06-30,True,0.288797,0.971660,0.863900,0.780913,0.862839,0.901992
2023-07-03,True,0.266998,0.907767,0.868159,0.830017,0.517131,0.906847

In [7]:
data.data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1133 entries, 2019-01-02 to 2023-07-03
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   position        1133 non-null   bool
 1   SPY_NATR_RANK   1133 non-null   float64
 2   SPY_AROON_RANK  1133 non-null   float64
 3   SPY_RSI_RANK    1133 non-null   float64
 4   SPY_ROC_RANK    1133 non-null   float64
 5   SPY_RTNS_RANK   1133 non-null   float64
 6   SPY_VWAP_RANK   1133 non-null   float64
dtypes: bool(1), float64(6)
memory usage: 63.1+ KB

In [8]:
data.data.describe()

,SPY_NATR_RANK,SPY_AROON_RANK,SPY_RSI_RANK,SPY_ROC_RANK,SPY_RTNS_RANK,SPY_VWAP_RANK
count,1133.000000,1133.000000,1133.000000,1133.000000,1133.000000,1133.000000
mean,0.545157,0.496826,0.525030,0.526980,0.503391,0.818616
std,0.281472,0.288527,0.286540,0.280297,0.305965,0.215183
min,0.053097,0.003764,0.002625,0.002625,0.002353,0.002320
25%,0.296073,0.263959,0.282927,0.322917,0.221935,0.707143
50%,0.571429,0.486842,0.531250,0.542105,0.508342,0.892857
75%,0.802998,0.749425,0.789474,0.761905,0.793464,0.992000
max,1.000000,0.996000,0.997033,1.000000,1.000000,1.000000